<!DOCTYPE >
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	</head>
    <body>
       <div id="footer" th:fragment="footer" class="card-footer bg-primary text-white text-center">
		   <div class="container">
        <div class="row">
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Ayala, Fernando Nicolas<br>LU: 4230</p>
          </div>
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Cazon, Nataniel Patricio Jesus<br>LU: 4039</p>
          </div>
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Rocha, Cristian Alberto<br>LU: 4847</p>
          </div>
          <div class="col-md-3">
            <p class="m-0" style="text-align: center;">Saravia, Jorge Ariel<br>LU: 3821</p>
          </div>
        </div>
        <p class="m-0" style="text-align: center;">Derechos reservados</p>
        <h1>CAMBIO HECHO PARA PRESENTACION DEL TP FINAL</h1>
      </div>
          <p style="color:#ffff">2023 - examen final. Portal de Empleto – Av. Gral. Manuel Belgrano 789 – Teléfono (388) 999999 S. S. de Jujuy República Argentina</p>
         <script src="/webjars/jquery/jquery.min.js" type="text/javascript"></script>
		 <script src="/webjars/popper.js/umd/popper.min.js" type="text/javascript"></script>
		 <script src="/webjars/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>       
       </div>
    </body>
</html>