<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>		
		<meta charset="UTF-8">
		<title>Nuevo Empleador</title>
		
	</head>
	<body class="container">
		<header th:replace="/layouts/header::header"></header>
		<div class="container col-4">
			<br><br><br><br><br><br>
			<h2>Alta de Empleador</h2><br>
			<form th:action="@{/empleador/nuevo}" method="POST" th:object="${empleador}">
			  
			  <div class="mb-3 row">
			    <label for="idRazon" class="col-form-label">Razón Social</label>
			    <input th:field="*{razon}" type="text" class="form-control" id="idRazon">	
			    <div class="text-danger" th:if="${#fields.hasErrors('razon')}" th:errors="*{razon}"></div>	    
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idCuit" class="col-form-label">CUIT</label>
			    <input th:field="*{cuit}" type="number" class="form-control" id="idCuit" min="20000000000" max="99999999999">	
			    <div class="text-danger" th:if="${#fields.hasErrors('cuit')}" th:errors="*{cuit}"></div>	    
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idFecha" class="col-form-label">Fecha de Inicio</label>
				<input th:field="*{fechaInicio}" type="date" class="form-control" id="idFecha" max="2022-07-06">
				<div class="text-danger" th:if="${#fields.hasErrors('fechaInicio')}" th:errors="*{fechaInicio}"></div>
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idNombre" class="col-form-label">Nombre del Empleador</label>
			    <input th:field="*{nombre}" type="text" class="form-control" id="idNombre">	
			    <div class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>	    
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idEmail" class="col-form-label">Email</label>
			    <input th:field="*{email}" type="email" class="form-control" id="idEmail">	
			    <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>	    
			  </div>
			  
			  <div class="mb-3 row">
			    <label for="idContrasenia" class="col-form-label">Contraseña</label>
			    <input th:field="*{contrasenia}" type="text" class="form-control" id="idContrasenia">		    
			    <div class="text-danger" th:if="${#fields.hasErrors('contrasenia')}" th:errors="*{contrasenia}"></div>
			  </div>
			  
			  <div class="mb-3 row">
				<label for="provinciaId" class="col-form-label">Provincia</label> 
		        <select th:field="*{provincia}" class="form-select" id="provinciaId">
		            <option value="Buenos Aires">Buenos Aires</option>
					<option value="Buenos Aires Capital">Buenos Aires Capital</option>
					<option value="Catamarca">Catamarca</option>
					<option value="Chaco">Chaco</option>
					<option value="Chubut">Chubut</option>
					<option value="Cordoba">Cordoba</option>
					<option value="Corrientes">Corrientes</option>
					<option value="Entre Rios">Entre Rios</option>
					<option value="Formosa">Formosa</option>
					<option value="Jujuy">Jujuy</option>
					<option value="La Pampa">La Pampa</option>
					<option value="La Rioja">La Rioja</option>
					<option value="Mendoza">Mendoza</option>
					<option value="Misiones">Misiones</option>
					<option value="Neuquen">Neuquen</option>
					<option value="Rio Negro">Rio Negro</option>
					<option value="Salta">Salta</option>
					<option value="San Juan">San Juan</option>
					<option value="San Luis">San Luis</option>
					<option value="Santa Cruz">Santa Cruz</option>
					<option value="Santa Fe">Santa Fe</option>
					<option value="Santiago del Estero">Santiago del Estero</option>
					<option value="Tierra del Fuego">Tierra del Fuego</option>
					<option value="Tucuman">Tucuman</option>
				</select>
				<div class="text-danger" th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}"></div>
			  </div>
			  
			  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
					<button th:href="@{/}" class="btn btn-primary me-md-2" type="submit">Registrar</button>
					<a th:href="@{/}" id="cancel" class="btn btn-secondary" type="button">Cancelar</a>	 				
			  </div>
			</form>
		</div>
		<br><br><br><br><br><br>
		<footer th:replace="/layouts/footer::footer"></footer>
	</body>
</html>